<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SwSpecification.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SwSpecification.Properties.Settings.SWPlusDBConnectionString1"
            connectionString="Data Source=192.168.14.11;Initial Catalog=SWPlusDB;Persist Security Info=True;User ID=sa;Password=PDMadmin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <SwSpecification.Properties.Settings>
            <setting name="Path1c" serializeAs="String">
                <value>C:\Program Files (x86)\1cv82\8.2.18.61\bin\1cv8.exe</value>
            </setting>
            <setting name="LoginUser" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordUser" serializeAs="String">
                <value />
            </setting>
            <setting name="Key1c" serializeAs="String">
                <value>ENTERPRISE /s"srvprog:1641\Yurchenko_new" /c "Constructor"</value>
            </setting>
            <setting name="MaterialsDataSours" serializeAs="String">
                <value>C:\Program Files\SW-Complex</value>
            </setting>
            <setting name="ComboBoxIP" serializeAs="String">
                <value>192.168.14.11</value>
            </setting>
            <setting name="ChkInsPrp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChkStandard" serializeAs="String">
                <value>True</value>
            </setting>
        </SwSpecification.Properties.Settings>
    </userSettings>
</configuration>